.rest_of_the_page{
    
    background-size:cover;
    background-size: cover;
    overflow-x: hidden;


}
.ticker-container {
    width: 100%;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.ticker {
    display: flex;
    width: 200%;
    animation: scroll 20s linear infinite;
}

.ticker p {
    width: 50%;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.top_bar {
    display: flex;
    flex-wrap: nowrap;
    float: right;
    align-items: center;
    gap:0.3em
    }
    
.item {
    
    padding: 0.5em;
    text-align: center;
    color: black;
    text-decoration: none;
    align-items: center;
    
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 9em; 

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(5, 182, 182);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .item {
    color: rgb(5, 182, 182);
}
    
.icon {
    padding-right:39em;
    }
    
.item:hover {
     color: rgb(5, 182, 182);
    
    }
    
hr{
    height: 2em;
    padding-bottom: 0em;
    padding-top:0.2em;
   
    
 }
    
.hline{
   height: 0.05em;
   background-color: rgb(53, 53, 53);
   border: none;
}


@keyframes Animation{
    from{
    opacity:0;
    }
    
    to{
    opacity:1;
    } 
}  



.slideshow-container {
    position: absolute;
    padding-top: 5em;
    width: 66em;
    height: 50em;
    padding-left:18em;
    overflow: hidden;
    z-index: -1; /* Ensure it stays behind other content */
    
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index:-1;
    
    animation: slideAnimation 12s infinite linear;

}

.slide1 {
    background-image: url('lamp.jpeg');
    animation-delay: 0s;
}

.slide2 {
    background-image: url('animal_lick_salt.webp');
    animation-delay: 4s;
}

.slide3 {
    background-image: url('party_p.avif');
    animation-delay: 8s;
}

@keyframes slideAnimation {
    0% { opacity: 0; transform: scale(1); }
    10% { opacity: 1; transform: scale(1.02); }
    30% { opacity: 1; transform: scale(1.04); }
    40% { opacity: 0; transform: scale(1.06); }
    100% { opacity: 0; transform: scale(1); }
}




.intro{
    font-size: 1.5em;
    color: rgb(245, 234, 234);
    text-align: justify;
    padding-right: 1.5em;
    padding-left: 0.5em;
    }

.intro_heading{
    
    color:#0b9988;
    font-weight: 10em;
    font-size: 3em;
    padding-left: 0.3em;
    
}
.slideshow_intro{
    position: relative;
    width: 84em;
    height: 14em;

    overflow: hidden;
    z-index: 1; 
    background-color: rgba(46, 50, 50, 0.6); 
    text-align: justify;
}
.desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    animation: desAnimation 12s infinite linear;
  }

  .desc1 {
    animation-delay: 0s;
  }

  .desc2 {
    animation-delay: 4s;
  }

  .desc3 {
    animation-delay: 8s;
  }

  @keyframes desAnimation {
    0% { opacity: 0; }
    8% { opacity: 1; }
    33% { opacity: 1; }
    41% { opacity: 0; }
    100% { opacity: 0; }
  }

.img{
	width:15em;
	height:15em;
	object-fit: cover;
	padding:2em;
    
	
}
.img:hover{
	width:18em;
	height:18em;
	padding:0px;
	padding-top:1%;

}
.container{
	display:inline-flex;
	justify-content: space-between;	
	padding-left: 0em;
    padding-right: 3em;
	
}

.item{
    text-align: center;
}

.title
{ 
   font-size:30px;	
   text-decoration:bold;
}
.des{
   color:transparent;
   transition:all 0.5s ease-in-out 0s;
   font-size: 20px;
   padding-left: 5em;
   padding-right: 5em;
}

.item:hover .des{  
   color: rgb(44, 51, 46);

   
}



/* BEST SELLING */
.best_selling_img{
	width:10em;
	height:10em;
	object-fit: cover;
	padding:1em;
}

.best_selling_item:hover .best_selling_img{
	width:14em;
	height:13em;
	padding:1em;
	padding-top:1%;
}

.best_selling_container{
	display: inline-flex;
	justify-content: space-between;
	padding-left: 1em;
	animation: scroll 20s linear infinite;
	width: calc(100% * 2);
	width: 40em;
	height: 15em; /* Adjusted to fit larger items */
}

.best_selling_item{
	text-align: center;
	background-color: rgba(165, 194, 191, 0.5);
	padding: 0.7em;
	margin-right: 0.7em;
	width: 15em; /* Increased initial width */
	height: 15em; /* Increased initial height */
}

.best_selling_item:hover{
	width:19em;
	height:17em;
}

.best_selling_title{ 
	font-size: 1.25em;	
	font-weight: bold;
}

.best_selling_price{
	color: transparent;
	transition: all 0.5s ease-in-out 0s;
	font-size: 20px;
	text-align: center;
}



@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

/*CERTIFICATIONS*/

.certifications_container{
	display:inline-flex;
	justify-content: space-between;	
    width:7em;
    height:6em;
    padding-left: 1em;
}
.certificate_box{
    padding:2.5em;
    background-color:transparent;
    margin-right: 1em;
    width:10em;
    height:7em;
}
.certificate{
    width:10em;
    height:7em;
}

.certificate:hover{
    opacity:0.7
}

/*GET IN TOUCH*/

.contact-footer {
    background:linear-gradient(to right,rgba(30, 33, 33, 0.5),rgba(30, 33, 33, 0.4));
    color:black;
    
    padding: 20px 0;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
   
}

.contact-info,
.contact-details {
    width: 45%;
}

.contact-info h2,
.contact-details h2 {
    margin-top: 0;
    font-size: 24px;
}

.contact-info p,
.contact-details p {
    margin: 10px 0;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
   color:white;
}


.contact-info,
.contact-details {
     width: 80%;
        
 }



 /*ABOUT US PAGE*/
 
 .aboutus_intro {
    position: relative;
    width: 100%;
    height: 60em;
    background-image: url('office.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0; 
            animation: fadeInScale 0.6s ease-in-out forwards; 
        }
   
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.aboutus_intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60em;
    background-image: url('office.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(40%) grayscale(60%); 
    opacity: 0.9;
    z-index: 0;
}

.dull_caption {
    position: relative;
    z-index: 1;
    color: rgb(7, 199, 190);
    font-size: 4em; 
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1); 
    padding-top:4em;
    padding-left:0.7em;
    animation: fadeInScale 1.2s ease-in-out forwards; 
}
.dull_vision{
    position: relative;
    font-family: "Abel";
    z-index:1;
    color: rgba(253, 253, 253, 1);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1); 
    font-size:1.5em;
    padding-left: 2em;
    padding-right: 20em;
    text-align: justify;
    animation: fadeInScale 1.2s ease-in-out forwards; 
    
   
}

/*CEO MESSAGE*/
.ceo_msg{
    display:flex;
    flex-direction: row;
    font-size: 1.16em;
    background:rgba(63, 61, 61, 0.3);

    

}
.message{
    text-align: justify;
    padding-left:1em;
    padding-right:3em;
}
.ceo_image{
    padding-right:2em;
}
.ceo_picture{
   width:25em;
   height:28em;
   padding-top:9em;
}
.ceo_image{
    display:inline-flex;
    align-items: center;
    flex-direction: column; 
}
.ceo_image_caption{
    font-size: 1.5em;
}
/*DIRECTOR MESSSAGE*/

.director_msg{
    display:flex;
    flex-direction: row-reverse;
    font-size: 1.16em;
    background:rgba(63, 61, 61, 0.3);

    

}
.initial{
    color:#0b9988;
    font-size: 3em;
}
.ceo_message{
    color:#2c2c2c;
}

/*PRODUCTS PAGE*/
.salt_intro {
    
    display:flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 17em;
    background-image: url('salt.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0; 
            animation: fadeInScale 0.6s ease-in-out forwards; 
        }
   


.salt_intro::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 17em;
    background-image: url('salt.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(50%) ; 
    opacity: 0.5;
    z-index: 0;
}
.salt_heading{
    position: relative;
    z-index: 1;
    color: rgb(234, 127, 95);
    font-size: 4em; 
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1); 
    padding-left:0.7em;
    animation: fadeInScale 1.2s ease-in-out forwards; 
}
.salt_caption{
    position: relative;
    font-family: "Abel";
    z-index:1;
    color: rgba(253, 253, 253, 1);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1); 
    font-size:1.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    animation: fadeInScale 1.2s ease-in-out forwards;   
}

/*SALT PRODUCTS*/


/*PARTY POPPERS*/
.party_poppers {
    
    display:flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 17em;
    background-image: url('home_first_display2.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0; 
            animation: fadeInScale 0.6s ease-in-out forwards; 
        }
   


.party_poppers::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 17em;
    background-image: url('home_first_display2.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(50%) ; 
    opacity: 0.5;
    z-index: 0;
}
.party_heading{
    position: relative;
    z-index: 1;
    color: rgb(254, 217, 65);
    font-size: 4em; 
    text-shadow: 4px 4px 4px rgb(0, 0, 0); 
    padding-left:0.7em;
    animation: fadeInScale 1.2s ease-in-out forwards; 
}
.party_caption{
    position: relative;
    font-family: "Abel";
    z-index:1;
    color: rgba(253, 253, 253, 1);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1); 
    font-size:1.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    animation: fadeInScale 1.2s ease-in-out forwards;   
}
/*PRODUCTS*/



.product_img{
	width:11em;
	height:10em;
	object-fit: cover;
	padding:1em;
    
	
}
.product_item:hover .product_img{
	width:13em;
	height:12em;
    transition:all 0.5s ease-in-out 0.2s;
	

}
.product_container{
	display:inline-flex;
	justify-content: space-between;	
    padding-top:1em;
}

.product_item{
    text-align: center;
    background-color: rgba(165, 194, 191, 0.5); 
    padding-bottom:2em;
    margin-right: 2em; 
    width:15em;
    height:15em;
    margin-bottom: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    
}

.product_item:hover{
    width:17em;
    height:18em;
    transition:all 0.5s ease-in-out 0.2s;
}

.product_title
{ 
   font-size:1.25em;	
   font-weight: bold; 
   
}


.product_des{
    padding-top: 0.3em;;
color:transparent;
font-size: 1.05em;
padding-left: 0.5em;
padding-right: 0.5em;
text-align: center;
}

.product_item:hover .product_des{
    color:#333;
    transition:all 0.7s ease-in-out 0.5s;
}
